In [25]:
import pandas as pd
import numpy as np

csv_file = pd.read_csv("travisCAD_2.csv")
df = pd.DataFrame(csv_file)
df1 = df[df.Type != "Personal"]

In [26]:


def get_zip(address):
    zipcode = address.split(" ")[-1]
    return zipcode

def get_property(address):
    split_address = address.split(" ")
    return " ".join(split_address[:-2])

def get_state(address):
    split_state = address.split(" ")
    return " ".join(split_state[-2:-1])

df1["Zipcode"] = df1["Property Address"].map(get_zip)
df1["Address"] = df1["Property Address"].map(get_property)
df1["State"] = df1["Property Address"].map(get_state)
df1.head()

C:\Users\Owner\Anaconda3\lib\site-packages\ipykernel_launcher.py:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  from ipykernel import kernelapp as app
C:\Users\Owner\Anaconda3\lib\site-packages\ipykernel_launcher.py:16: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  app.launch_new_instance()
C:\Users\Owner\Anaconda3\lib\site-packages\ipykernel_launcher.py:17: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

,Type,Property Address,Appraised Value,Year,Zipcode,Address,State
0,Mobile Home,"13021 DESSAU RD 653 AUSTIN, TX 78754","$78,944",2019,78754,"13021 DESSAU RD 653 AUSTIN,",TX
1,Real,5703 MEDIAN RD TX 78734,"$369,748",2019,78734,5703 MEDIAN RD,TX
5,Real,12116 INNES VIEW RD TX 78653,"$258,197",2019,78653,12116 INNES VIEW RD,TX
6,Mobile Home,"13021 DESSAU RD 703 AUSTIN, TX 78754","$69,697",2019,78754,"13021 DESSAU RD 703 AUSTIN,",TX
13,Real,12916 JAMES MADISON ST TX 78653,"$177,203",2019,78653,12916 JAMES MADISON ST,TX

In [27]:
df1["Value"] = df1['Appraised Value'].map(lambda x: float(x.replace("$", "").replace(",", "")))

C:\Users\Owner\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [31]:
df1.reset_index(inplace=True)
columns = ["index","Property Address","Appraised Value"]
df1.drop(columns, inplace=True, axis=1)
df1.head()

C:\Users\Owner\Anaconda3\lib\site-packages\pandas\core\frame.py:3940: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  errors=errors)

          Type  Year Zipcode                      Address State     Value
0  Mobile Home  2019   78754  13021 DESSAU RD 653 AUSTIN,    TX   78944.0
1         Real  2019   78734               5703 MEDIAN RD    TX  369748.0
2         Real  2019   78653          12116 INNES VIEW RD    TX  258197.0
3  Mobile Home  2019   78754  13021 DESSAU RD 703 AUSTIN,    TX   69697.0
4         Real  2019   78653       12916 JAMES MADISON ST    TX  177203.0

In [49]:
df2 = df1.rename({"Address":"Property Address","Value" : "2019 Appraised Value"} , axis=1)
df2["Property Address"] = df2["Property Address"].replace(' AUSTIN,',"", regex=True)
df2["Property Address"] = df2["Property Address"].replace(' MANOR,',"", regex=True)
df2["Property Address"] = df2["Property Address"].replace(' LEANDER,',"", regex=True)
df2["Property Address"] = df2["Property Address"].replace(',',"", regex=True)

df2.drop("Year", inplace=True, axis=1)
df2.head(5)

          Type Zipcode        Property Address State  2019 Appraised Value
0  Mobile Home   78754     13021 DESSAU RD 653    TX               78944.0
1         Real   78734          5703 MEDIAN RD    TX              369748.0
2         Real   78653     12116 INNES VIEW RD    TX              258197.0
3  Mobile Home   78754     13021 DESSAU RD 703    TX               69697.0
4         Real   78653  12916 JAMES MADISON ST    TX              177203.0

In [50]:
#df2.drop_duplicates(keep=False, inplace=True) 
df2.to_csv('travisCAD_cleaned.csv', index=False) 
print(len(df2))

383228

In [51]:
print(len(df2))

383228